body {
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  height:100vh;
  width:100vw;
}
.App {
  width:100%;
  background-color: #fff;
}
/* homepage */

main {
  overflow: hidden;
  background-color: #7fd3f92b;
  height:100vh;
  width:100vw;
}

/* menu */

.nav-wrapper{
  margin:0 auto;
  margin-top: 4em;
  text-align: center;
}
.nav-wrapper li{
  list-style-type: none;
}
.menu-canvas{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #59a784;
  background-image: linear-gradient(89deg, #406e84, #587d8e);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu-canvas a{
  padding: 0.75em 0.75em 0.75em 2em;
  text-decoration: none;
  font-size: 45px;
  color: #ffffff;
  display: block;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.menu-canvas li {
  width:25%;
  margin:0 auto;
  border: solid 0px black;
  border-radius: 10em;
}
.menu-canvas .x {
  position: absolute;
  top: 0;
  right: 0.5em;
  padding:0;
  font-size: 5em;
  transition: transform 0.5s;
}
.menu-canvas .x:hover {
  transform: scale(1.3)
}

/* nav bar hover */
.nav-wrapper a {
  transition: color 0.3s;
}
.nav-wrapper a:hover{
    color: black;
    /* text-decoration: underline; */
}

/* homepage screen content */
.hamburger {
  text-align: center;
  position:fixed;
  cursor: pointer;
  font-size: 50px;
  color: #5b5b5b;
  transition: transform 0.5s ease-in-out;
  width:1em;
  height:1em;
}
.hamburger:hover {
  transform: scale(1.3);
}
#homepage {
  transition: margin-left 0.5s;
  padding: 16px;
  width:100vw;
  height:100vh;
}
.main-content {
  margin:0 auto;
  width:100%;
  height:100%;
  text-align: center;
}
.image-container {
  margin: 0 auto;
}
#picture {
  position:relative;
  max-height:100%;
  max-width:100%;
  top:100vh;
  border: solid 5px white;
  border-radius:1em;
  box-shadow:5px 5px 7px 1px rgba(0,0,0,0.4);
  transition:0.5s;
}
.main-content p {
  font-size:22px;
}
h1 {
  font-size:50px;
  text-align: center;
  letter-spacing: 2px;
}
/* Projects page */

.projects {
  background-color: #7fd3f92b;
  overflow-y:scroll;
}
.project-list {
  margin:0em auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  width:80vw;
  height:auto;
}
.project_container {
  position:relative;
  padding:0.5em;
  width: 300px;
  height:300px;
}
.project_titles {
  color: white;
  font-weight:bold;
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  outline:none;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #406e84;
}
.project_container:hover .overlay {
  opacity:0.8;
}
.project_image {
 padding: 0;
 opacity: 0.7;
 transition: 0.5s ease;
 backface-visibility: hidden;
 transition: transform 0.3s;
 width:100%;
 height:100%;
}

h2 {
  text-align: center;
  font-size:55px;
}
